body {background-color: #E9F0FC;}
body {color: #05122B;}
body a {color: #0D2E6C;}
h1 {color: #6495ED;}
    h1 {color: 2em}
h2 {color: #6495ED;}
    h2 {color: 1.25em}
nav {background-color: #BCD1F7;}
nav {scrollbar-highlight-color: #FFFFFF;}
nav a {color: #3976E8;}
.evenrow {background-color: #E9F0FC;}
table {background-color: #F4F7FE;}
table {color: #05122B}